@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('/assets/fonts/Roboto/woff/roboto-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto/woff/roboto-light-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/Roboto/woff/roboto-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto/woff/roboto-regular-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/assets/fonts/Roboto/woff/roboto-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto/woff/roboto-medium-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/assets/fonts/Roboto/woff/roboto-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto/woff/roboto-bold-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('/assets/fonts/Roboto/woff/roboto-black-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto/woff/roboto-black-webfont.woff')  format('woff');
}

// ==============================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin shadow($level) {
  @if $level == 1 { // Material level 1
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  } @else if $level == 6 {
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
  } @else if $level == 7 {
    box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
  } @else if $level == 8 {
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
  } @else {
  } 
}

// ==============================================

#tracks {
  .track {
    border: solid transparent 2px;
    display: flex;
    align-items: center;
    background: #5E696D;

    &-title { 
      margin-right: 8px;
      min-width: 40px !important;
      color: white;
      @include shadow(1);
     } 

    .steps {
      display: inline-flex;
      border: solid black 1px;
    
      .step {
        width: 15px;
        height: 25px;
        margin: 1px;

        display: grid;
        place-items: center;
        
        user-select: none; // don't select text
        font-size: 11px;

        @include shadow(1);
        
        border-radius: 5px;
        border: solid 1px #252D31;
        background: rgb(75,83,86);
        &-A {  
          background: linear-gradient(0deg, rgba(73,80,84,1) 0%, rgba(97,104,108,1) 100%);
          &.step-on { background: linear-gradient(0deg, rgba(145,165,175,1) 0%, rgba(193,213,223,1) 100%); }
        }
        &-B { 

          background: linear-gradient(0deg, rgba(93,72,74,1) 0%, rgba(118,97,99,1) 100%);
          &.step-on { background: linear-gradient(0deg, rgba(195,140,144,1) 0%, rgba(245,190,195,1) 100%); }
        }
        
        &.current {
          color: lime;
        }
      }
    }

  }
}