@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('/_assets/fonts/Roboto/woff/roboto-light-webfont.woff2') format('woff2'),
       url('/_assets/fonts/Roboto/woff/roboto-light-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/_assets/fonts/Roboto/woff/roboto-regular-webfont.woff2') format('woff2'),
       url('/_assets/fonts/Roboto/woff/roboto-regular-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/_assets/fonts/Roboto/woff/roboto-medium-webfont.woff2') format('woff2'),
       url('/_assets/fonts/Roboto/woff/roboto-medium-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/_assets/fonts/Roboto/woff/roboto-bold-webfont.woff2') format('woff2'),
       url('/_assets/fonts/Roboto/woff/roboto-bold-webfont.woff')  format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('/_assets/fonts/Roboto/woff/roboto-black-webfont.woff2') format('woff2'),
       url('/_assets/fonts/Roboto/woff/roboto-black-webfont.woff')  format('woff');
}