*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

canvas {
  background: lightgreen;
  border-radius: 7px;
}

main { position:  relative;

  #reset-button { position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 8px 16px;
    border-radius: 7px;
    background: white;
    color: black;
  } 
  /* #reset-button */
} 
/* main */