@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("/assets/fonts/Roboto/woff/roboto-light-webfont.woff2") format("woff2"), url("/assets/fonts/Roboto/woff/roboto-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/assets/fonts/Roboto/woff/roboto-regular-webfont.woff2") format("woff2"), url("/assets/fonts/Roboto/woff/roboto-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/assets/fonts/Roboto/woff/roboto-medium-webfont.woff2") format("woff2"), url("/assets/fonts/Roboto/woff/roboto-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/assets/fonts/Roboto/woff/roboto-bold-webfont.woff2") format("woff2"), url("/assets/fonts/Roboto/woff/roboto-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("/assets/fonts/Roboto/woff/roboto-black-webfont.woff2") format("woff2"), url("/assets/fonts/Roboto/woff/roboto-black-webfont.woff") format("woff");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#top-bar {
  padding: 8px;
  background: #5E696D;
  border-bottom: solid 1px #404B50;
  display: flex;
  align-items: center;
}
#top-bar .master-knob-volume {
  height: 10px;
  width: 10px;
  background: #5E696D;
  background: linear-gradient(0deg, #252F34 0%, #3A4449 100%);
  border-radius: 5px;
  border: solid 1px #252D31;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 8px;
}
#top-bar .master-knob-volume-line {
  height: 50%;
  width: 1px;
  background: #C2C9CD;
  margin: 0 auto;
  border-radius: 1px;
}
#top-bar .master-controls {
  width: fit-content;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  border: solid 1px #252D31;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#top-bar .master-controls .master-control {
  background: linear-gradient(0deg, #252F34 0%, #3A4449 100%);
  padding: 2px 0;
}
#top-bar .master-controls .master-control svg {
  color: #C2C9CD;
  height: 8px;
}
#top-bar .master-controls .master-control-play {
  border-right: solid 1px #252D31;
}
#top-bar .master-controls .master-control-stop {
  border-right: solid 1px #252D31;
}
#tracks {
  border: solid solid 1px #252D31 1px;
  background: #5E696D;
  padding: 16px;
}
#tracks .track {
  border: solid transparent 2px;
  display: flex;
  align-items: center;
}
#tracks .track-led-enable {
  border: solid 1px #8B9396;
  height: 9px;
  width: 9px;
  border-radius: 4.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 6px;
}
#tracks .track-led-enable-inner {
  height: 7px;
  width: 7px;
  background: #5E696D;
  background: linear-gradient(0deg, #DCF7AB 0%, #6EDB00 100%);
  border-radius: 3.5px;
  border: solid 1px #252D31;
}
#tracks .track-led-enable-inner-line {
  height: 50%;
  width: 1px;
  background: white;
  margin: 0 auto;
  border-radius: 1px;
}
#tracks .track-knob-volume {
  height: 10px;
  width: 10px;
  background: #5E696D;
  background: linear-gradient(0deg, rgb(73, 80, 84) 0%, rgb(97, 104, 108) 100%);
  border-radius: 5px;
  border: solid 1px #252D31;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 6px;
}
#tracks .track-knob-volume-line {
  height: 50%;
  width: 1px;
  background: #C2C9CD;
  margin: 0 auto;
  border-radius: 1px;
}
#tracks .track-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px !important;
  height: 22px;
  font-size: 12px;
  user-select: none;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: solid 1px #252D31;
  background: #5E696D;
  background: linear-gradient(0deg, rgb(73, 80, 84) 0%, rgb(97, 104, 108) 100%);
  margin-right: 6px;
}
#tracks .track .steps {
  display: inline-flex;
  height: 22px;
}
#tracks .track .steps .step {
  width: 13px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  user-select: none;
  font-size: 11px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  border: solid 1px #252D31;
  color: white;
}
#tracks .track .steps .step-A {
  background: linear-gradient(0deg, rgb(73, 80, 84) 0%, rgb(97, 104, 108) 100%);
}
#tracks .track .steps .step-A.step-on {
  background: linear-gradient(0deg, rgb(145, 165, 175) 0%, rgb(193, 213, 223) 100%);
}
#tracks .track .steps .step-B {
  background: linear-gradient(0deg, rgb(93, 72, 74) 0%, rgb(118, 97, 99) 100%);
}
#tracks .track .steps .step-B.step-on {
  background: linear-gradient(0deg, rgb(195, 140, 144) 0%, rgb(245, 190, 195) 100%);
}
#tracks .track .steps .step.current {
  color: lime;
}/*# sourceMappingURL=index.css.map */