.dropdown { position: relative;
  outline: solid black 1px;
  background: blue;
  width: fit-content;
  user-select: none;
  cursor: pointer;

  .dropdown-trigger { 
    // background: white;
    padding: 4px 14px;
  }

  .dropdown-menu { position: absolute;
    list-style: none; 
    padding: 0;
    border: solid black 1px;
    background: red;
    width: 120px;

    --mb: 4px;

    opacity: 0;
    display: none;
    &.show {
      display: block;
    }

    .dropdown-item {
      display: block;
      padding-bottom: var(--mb);
      padding: 0 16px;
      // &:first-child { padding-top: var(--mb); }
      // &:last-child  { padding-bottom: var(--mb); }
    }
  }
}