*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================== */

:root {
  --rad: 7px;
  --point-size: 20px;
  --element-width: 50px;
}

/* =========================================== */

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

/* =========================================== */

main {
  border: solid black 2px;
  border-radius: var(--rad);
  overflow: hidden;

  background: rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: 50px 1fr;
} 

/* =========================================== */

section#canvas { position:  relative;
  canvas { 
    background: lightgreen;
    border-radius: var(--rad);
  }
}

/* =========================================== */

.point { position: absolute;
  
  height: var(--point-size);
  width: var(--point-size);
  background: red;
}

/* =========================================== */


/* =========================================== */

section#elements-picker {
  outline: solid black 1px;

  #element-and {
    height: var(--element-width);
    width: var(--element-width);
    background: deepskyblue;
    background-image: url('./AND.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
  }

  #element-not {
    height: var(--element-width);
    width: var(--element-width);
    background: lightgreen;
    background-image: url('./NOT.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
  }
}